@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applying global font settings */
body {
  font-family: "Inter", sans-serif;
}

/* Global styles or in a specific CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

i {
  font-size: 18px;
  color: rgb(107, 114, 128);
}

[data-theme="dark"] i {
  color: rgb(144, 152, 166);
}
